{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }} {# Garde le app.css chargé dans base.html.twig #}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h3>Mes Articles</h3>

    <div class="articles-list">
        {% for article in liste_articles %}
            <div class="article-card">
                <h4>{{ article.title }}</h4>
                <p>{{ article.desc }} {{ article.author }}</p>
                <img src="{{ article.imgPath }}" alt="{{ article.title }}">
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
