{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h3>Mes Articles</h3>

    <a href="{{ path('app_article_save') }}" class="btn-add">Ajouter un Article</a>

    <div class="articles-list">
        {% for article in liste_articles %}
            <div class="article-card" onclick="window.location.href='{{ path('app_article_show', {'id': article.id}) }}'" style="cursor: pointer;">
                <h4>{{ article.title }}</h4>
                <p>{{ article.desc }} par {{ article.author }}</p>
                <img src="{{ article.imgPath }}" alt="{{ article.title }}">
            </div>
        {% else %}
            <p>Aucun article trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}